-if target.blank? == false and target.errors.any?
  .alert.alert-error
    %h4.alert-heading= "#{pluralize(target.errors.count, "error")} must be fixed before continuing:"
    %ul
      - target.errors.full_messages.each do |msg|
        %li= msg